<%- include('partials/header') %>
  <p class="lead text-body-secondary">Galda spēles ir kas vairāk nekā tikai izklaide – tās ir veids, kā pavadīt
    kvalitatīvu laiku kopā ar ģimeni un draugiem.
    Tās apvieno stratēģiju, veiksmi un radošu domāšanu, sniedzot ne tikai prieku, bet arī izaicinājumus. Vai tā
    būtu ātra
    kāršu spēle, stratēģiska piedzīvojumu spēle vai prātu asinoša mīklu spēle, katra partija piedāvā unikālu
    pieredzi.

    Spēļu vakari ir lieliska iespēja atslēgties no ikdienas steigas, izbaudot īstu cilvēku mijiedarbību un
    jautrību. Galda
    spēles veicina komandas darbu, uzlabo komunikācijas prasmes un pat attīsta loģisko domāšanu. Tās ir
    piemērotas gan
    bērniem, gan pieaugušajiem, nodrošinot, ka ikviens atradīs kaut ko sev piemērotu.

    Ienirsti galda spēļu pasaulē un atklāj to prieku, ko sniedz kopā būšana un aizrautīgas cīņas pie spēļu
    galda!</p>
  <p>

  <h1 class="mb-4">Spēļu kolekcija</h1>
  <div class="row">
    <% games.forEach(game=> { %>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="<%= game.image %>" class="card-img-top" alt="<%= game.title %>">
          <div class="card-body">
            <h5 class="card-title">
              <%= game.title %>
            </h5>
            <p class="card-text">
              <%= game.description %>
            </p>
            <a href="/game/<%= game.id %>" class="btn btn-primary">Lasīt vairāk</a>
          </div>
        </div>
      </div>
      <% }) %>
  </div>

  <%- include('partials/footer') %>